<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Compare | Euphonic</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
        integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
    <!-- Top menu -->
    <nav class="navbar navbar-dark fixed-top navbar-expand-md navbar-no-bg">
        <div class="container">
            <a href="../../home" style="text-decoration:none;">
                <button class="btn btn-secondary navbar-btn">Dashboard</button>
            </a> 
            <a class="navbar-brand" href="home">Euphonic</a>
            <a href="/" style="text-decoration:none;"> <!-- Remove line when Logout is setup -->
                <button class="btn btn-secondary navbar-btn">Logout</button>
            </a> <!-- Remove line when Logout is setup -->
        </div>
    </nav>

    <!-- Body -->
    <div class="user-container">
        <div class="user">
            <h3>{{ user1 }}</h3>
            <h4>Vibe: {{ user1_vibe }}</h4>
        </div>
        <div class="comparison-score">
            <h3>{{ score }}%</h3>
            <h6>Score</h6>
        </div>
        <div class="user">
            <h3>{{ user2 }}</h3>
            <h4>Vibe: {{ user2_vibe }}</h4>
        </div>
    </div>

    <div class="user-container">
        <div class="user">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center mb-4">Top 5 Artists in Common</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Artist</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for artist in shared_artists %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td><a href="{{ artist['href'] }}">{{ artist['name'] }}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="user">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center mb-4">Top 5 Genres in Common</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Genre</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for genre in shared_genres %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ genre }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>